[2017-02-10 05:51] screendriver commented on #650
But when we publish the `src` directory there are still all `require`s to Babel related stuff.

At the moment I am searching for best practices / design patterns for library authors that have the same problem like `kinto.js`.

[2017-03-24 14:36] kartikagarwal1993 commented on #575
@lgleim Hey, I am also trying to solve a similar problem. Could you tell how did you finally overcome the memory limitations? Thanks!

[2017-03-28 08:44] gabisurita opened #666 "Support collection metadata sychronization"
From slack: I think it would be nice to allow to fetch and store a collection metadata using  kinto.js.

A good use case for that would be integrating [react-jsonschema-form](https://github.com/mozilla-services/react-jsonschema-form).

[2017-03-29 11:43] leplatrem commented on #637
Maybe it would also make sense to scope by «user» (?). The same happens with you sync with two different users.

[2017-03-31 19:57] gabisurita opened #1757 "Support accounts API plugin"

[2017-04-03 14:59] glasserc commented on #637
One challenge is how to scope by user in cases like FxA authentication, when the client might not actually know who the user actually is (it just has a Bearer token which the server uses to lookup a user IIUC).

[2017-04-03 15:05] Natim commented on #637
You should use the remote user_id to achieve that. Then the scope should be the `(remote_URL, user_id)`

[2017-04-04 21:08] glasserc commented on #637
Using the remote user ID means having to ask the user "who am I?" at the beginning of every sync.

[2017-04-05 17:29] Natim commented on #637
It can also be done only the first time and kept on the client side as a value using the Authorization header as a key. Then it will happens only if the first time you use a Bearer token.

[2017-04-11 20:33] hd719 commented on #556
Hello I am new to open source, it this still open?

[2017-04-11 21:59] glasserc commented on #556
Yes, as far as I know, please feel free to work on it.

[2017-04-25 17:31] glasserc commented on #649
It looks like we're transpiling everything in the `build` script, and if I understand correctly, that's what's getting published using `npm publish` -- `.npmignore` includes src/, for example. I'm not super familiar with the JS ecosystem, though, so do you see anything else missing? It's possible that everything is correct but that I just somehow didn't run the right commands to upload a specific

[2017-05-04 13:36] glasserc opened #691 "Fix handling of conflicts when server version is deleted"
The first, original symptom of https://bugzilla.mozilla.org/show_bug.cgi?id=1359879 was a `record is null` error. However, the client was just doing a sync() with `SERVER_WINS`.

[2017-05-09 22:53] #691 closed

[2017-05-15 20:04] glasserc opened #702 "Doesn't throw on >= 400 if empty response body"
Instead, it fails elsewhere (in my testing, on `handleNextPage`).

[2017-05-15 20:09] glasserc commented on #702
Oops, this really belongs in kinto-http.js.

[2017-05-15 20:09] #702 closed

[2017-05-15 20:10] glasserc commented on #702
Reopened as https://github.com/Kinto/kinto-http.js/issues/192.

[2017-05-25 18:53] greenkeeper[bot] opened #707 "An in-range update of lint-staged is breaking the build 🚨"
## Version **3.5.0** of [lint-staged](https://github.com/okonet/lint-staged) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Flint-staged-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lint-staged
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-26 19:19] greenkeeper[bot] opened #708 "An in-range update of sinon is breaking the build 🚨"
## Version **2.3.2** of [sinon](https://github.com/sinonjs/sinon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fsinon-2.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-05-26 20:30] #708 closed

[2017-05-30 18:11] glasserc commented on #707
Build failed because it pulled in `sinon` 2.3 series without the fix from #709. Closing..

[2017-05-30 18:11] #707 closed

[2017-06-02 16:43] greenkeeper[bot] opened #713 "An in-range update of prettier is breaking the build 🚨"
## Version **1.4.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-03 08:04] n1k0 commented on #713
We should wait a little longer upgrading, because of this https://github.com/prettier/prettier/issues/1933#issuecomment-305959447

[2017-06-03 16:45] #713 closed

[2017-06-13 20:22] markellisdev commented on #556
If @hd719 is not currently working on this, I'd like to have a go. @hd719 are you still actively working on this issue?

[2017-06-13 20:26] hd719 commented on #556
All you bro.

[2017-06-13 20:28] markellisdev commented on #556
👍🏼

[2017-06-14 13:38] markellisdev commented on #556
I'm attempting this, but got errors when trying to use with Node 0.12x environment, indicating I needed Node 4x or higher, so I used 4.3.0, which I have for another project. This worked fine with npm install.

However, when initially attempting to test, I get errors at the `eslint src test`

[code]
Can you help me through this @leplatrem ?

[2017-06-14 14:42] glasserc commented on #556
It looks like `eslint` isn't installed. Did you do `npm install`?

[2017-06-14 14:51] markellisdev commented on #556
I did, yet when I try `which eslint`, it says `eslint not found`.

I noticed in the docs, it says use `NodeJS v0.12x`, yet in `package.json` the engine is
[code]
Could this have something to do with it? I've tried Node `v4.3.0` and `v0.12.18`

[2017-06-14 14:54] glasserc commented on #556
Sure, that could have something to do with it. The `eslint` "executable" is in `node_modules/.bin/`, and `npm` is supposed to be smart enough to run things from there automatically when it's running a script. Maybe that was added after Node v4?

[2017-06-14 15:00] markellisdev commented on #556
After reading the above in `package.json` I tried `v7.10.0` which seemed to eliminate that error yet generated another,  `sh: babel-node: command not found`. This one did actually create a debug.log though. However, I can't include it here. Maybe I'll convert to a txt file.

May I submit a PR to change the docs to reflect it requires `[NodeJS v6 or greater]`?

[2017-06-14 15:06] glasserc commented on #556
Sure!

`babel-node` comes from `babel-cli`, which again should have been installed from `package.json` when you did `npm install`. Maybe try rerunning `npm install` with the new node?

[2017-06-16 18:28] greenkeeper[bot] opened #718 "An in-range update of uuid is breaking the build 🚨"
## Version **3.1.0** of [uuid](https://github.com/kelektiv/node-uuid) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fuuid-3.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uuid
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-06-20 13:21] glasserc commented on #718
The failing build was about the change in pyramid-tm and was fixed as part of #719. Closing this.

[2017-06-20 13:21] #718 closed

[2017-06-26 13:46] greenkeeper[bot] opened #723 "An in-range update of uglifyify is breaking the build 🚨"
## Version **4.0.2** of [uglifyify](https://github.com/hughsk/uglifyify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fuglifyify-4.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglifyify
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-06-27 17:45] glasserc commented on #723
Build failure was transient. Version is covered already. Closing..

[2017-06-27 17:45] #723 closed

[2017-06-27 17:46] greenkeeper[bot] opened #724 "An in-range update of prettier is breaking the build 🚨"
## Version **1.5.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-06-27 22:14] #724 closed

[2017-07-01 21:47] markellisdev commented on #556
Thanks @glasserc . I deleted `node_modules` and ran `npm install` again. I've got tests running now and I'm working on completing this issue.

[2017-07-04 16:37] jkndrkn commented on #560
I am able to build TypeScript code that uses PouchDB now. [@types/pouchdb](https://www.npmjs.com/package/@types/pouchdb) seems to be working flawlessly for me now. Should this issue be closed?

[2017-07-05 07:52] leplatrem commented on #560
We might come back on Typescript some day, so I'd rather leave it open in case someone is interested to take over :)

[2017-07-05 09:56] #587 closed

[2017-07-05 09:58] leplatrem commented on #355
Now that `client.listRecords()` supports pagination, it just a matter of specifying `pages: Math.Inf` in the parameters during `pullChanges()`

[2017-07-05 10:01] leplatrem commented on #591
The whole code base was converted to async await. We can do it :)

[2017-07-05 10:06] leplatrem opened #731 "Add support for IndexedDB adapter in Firefox export"
I think we should add the `Kinto.adapters.IDB` and `Kinto.adapters.Sqlite` static properties, and add `Components.utils.importGlobalProperties(["indexedDB"]);` in the Firefox header.

* https://bugzilla.mozilla.org/show_bug.cgi?id=1377539
* https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB_in_chrome

[2017-07-05 10:07] leplatrem commented on #632
Was fixed in https://github.com/Kinto/kinto.js/pull/727

[2017-07-05 10:07] #632 closed

[2017-07-05 10:09] leplatrem commented on #16
When https://bugzilla.mozilla.org/show_bug.cgi?id=1193394 will land in Firefox, it will be possible to have IndexedDB transactions across promises in Chrome+Firefox.

[2017-07-05 10:16] leplatrem commented on #666
How would the API look like?

For readonly, a `collection.metadata` attribute with the content of `/buckets/bid/collections/cid`  would be enough. It would be:
* synced to storage on pull
* fetched from storage on collection instanciation

For bidirectional sync, `collection.getData()` and `collection.setData()` could do it, but we have to find a nice design for the conflicts etc.

[2017-07-13 14:40] joezimjs opened #1756 "ReferenceError: regeneratorRuntime is not defined"
When I include kinto-http.js but don't use any generators or async functions myself, it works just fine, but when I use generators or async functions in my code while using `babel-plugin-transform-runtime` (I haven't tested with the polyfill instead yet), I get an error: `ReferenceError: regeneratorRuntime is not defined` which originates from the `utils.js` file in kinto-http's `lib` folder.

[2017-07-14 16:31] leplatrem opened #738 "Use webpack for Gecko module?"
Using NPM Libraries in Firefox via Webpack http://www.mkelly.me/blog/using-npm-libraries-in-firefox-via-webpack/

[2017-07-23 06:07] Grahack opened #740 "Early steps of the tutorial: IndexedDB not created"
Hi,

As a nice newbie, I'm following [this tutorial](https://kintojs.readthedocs.io/en/latest/tutorial/). However, when inspecting the IndexedDB as suggested (right before the **Listing tasks** section, I can't see any data. The demo works OK though (running `npm run demo`). What could have gone wrong ?

Here is my code: <http://profgra.org/kinto-demo/>.

Thanks.

[2017-07-23 06:26] Grahack commented on #740
OK sorry, I didn't notice that it worked on <http://profgra.org/kinto-demo/>.

Maybe the problem is that I was at first using a `file:///` URL? What prevent us from using IndexedDB from those URLs?

Thanks again.

[2017-07-23 07:28] Grahack commented on #740
Also a reload may be needed. I could provide you with a pull request for some concise precisions in the tutorial.

[2017-08-01 16:17] leplatrem commented on #740
Hi @Grahack ! Thanks for your feedback, and sorry for the delay...

Indeed there are a great number of features that won't work with `file://` scheme. You can run a http server on a local folder with `python3 -m http.server`

If you have ideas how to improve the tutorial, please do, we'll be glad to review and merge them!

[2017-08-05 08:40] greenkeeper[bot] opened #744 "An in-range update of chai is breaking the build 🚨"
## Version **4.1.1** of [chai](https://github.com/chaijs/chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fchai-4.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chai
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version
    <

[2017-08-07 16:48] glasserc commented on #744
This is also due to https://github.com/Kinto/kinto/pull/1309/.

[2017-08-07 16:48] #744 closed

[2017-08-09 08:40] leplatrem opened #747 "Remove transform-object-rest-spread from Gecko build"
Rest/spread is now supported in FFx55 https://bugzilla.mozilla.org/show_bug.cgi?id=1339395

[2017-08-27 10:16] MeghaSharma21 commented on #355
Is this bug still open, can I take it up?

[2017-08-28 14:00] glasserc commented on #355
@MeghaSharma21 Yes, feel free!

[2017-08-28 16:22] greenkeeper[bot] opened #750 "An in-range update of prettier is breaking the build 🚨"
## Version **1.6.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-08-28 17:21] #750 closed

[2017-08-29 09:02] MeghaSharma21 commented on #355
@glasserc Can you help me getting started?

[2017-08-30 19:43] glasserc commented on #355
Sure! Do you understand the issue? The problem is that if a server has a `paginate_by` setting, when the client requests the list of changes, it might only get the first page and stop. The fix is that when the client requests the list of changes, it should go to the next page if necessary. As @leplatrem pointed out, the `listRecords()` method from kinto-http.js already supports pagination, so we j

[2017-09-27 17:14] greenkeeper[bot] opened #761 "An in-range update of prettier is breaking the build 🚨"
## Version **1.7.1** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-09-27 21:58] #761 closed

[2017-09-28 00:01] greenkeeper[bot] opened #763 "An in-range update of prettier is breaking the build 🚨"
## Version **1.7.2** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.7.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-09-28 02:26] greenkeeper[bot] opened #764 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.13.2** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fcoveralls-2.13.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th align=le

[2017-09-28 14:44] #763 closed

[2017-09-28 14:56] glasserc commented on #764
This was due to the prettier update, which got handled in #765.

[2017-09-28 14:56] #764 closed

[2017-10-10 15:40] greenkeeper[bot] opened #769 "An in-range update of kinto-node-test-server is breaking the build 🚨"
## Version **1.0.2** of [kinto-node-test-server](https://github.com/Kinto/kinto-node-test-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fkinto-node-test-server-1.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      kinto-node-test-server

[2017-10-10 18:45] glasserc commented on #769
This got fixed in #770.

[2017-10-10 18:45] #769 closed

[2017-10-27 22:21] Jonathansw commented on #558
Is this still open to be worked on?

[2017-11-01 14:39] glasserc commented on #558
Yes! I think the approach I wrote about above is still valid, although I should withdraw the remark that there's already a UUID schema, since the one that is there relies on Firefox internals.

[2017-11-01 17:20] zakaluka opened #777 "Local Transformers?"
Hi All,

Was wondering if there is any on-going effort to implement Local Transformers.  The documentation has stated since v1.0.0 (that's as far back as I was able to go) that they are coming soon.  Any information on these would be appreciated.

Thank you.

[2017-11-01 17:34] glasserc commented on #777
Hi, like a lot of things in the Kinto world, it's something we're interested in but don't have concrete plans to implement ourselves because we don't have a real use case for them. I don't think they would be difficult to add but they probably wouldn't be much more difficult than just adding a transformation layer that wraps calls to list, get, update, or insert records, which might be an easier s

[2017-11-01 17:36] zakaluka commented on #777
The purpose is to encrypt data stored in IndexedDB as the data could contains PII (such as date of birth, address, account information, etc.).  It basically provides piece of mind for the user that, in case they lose their device or are on a shared machine, all information is safe.

[2017-11-01 17:37] zakaluka commented on #777
I was thinking that they could be implemented very, very similarly to how Remote Transformers are currently implemented and, as you mentioned, hooked into the IDB's functions.

[2017-11-01 18:03] glasserc commented on #777
Yeah, I would be willing to review a patch that added that functionality. Just be careful with that use case because if you store the encryption/decryption keys on disk, then you haven't actually increased security :)

[2017-11-01 18:04] zakaluka commented on #777
Agreed!  I will take a stab at it and see how it goes.

[2017-11-06 21:57] greenkeeper[bot] opened #779 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **8.0.2** of [babel-eslint](https://github.com/babel/babel-eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fbabel-eslint-8.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>
    <th align=le

[2017-11-07 04:23] greenkeeper[bot] opened #780 "An in-range update of prettier is breaking the build 🚨"
## Version **1.8.0** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-11-07 19:05] greenkeeper[bot] opened #781 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.2** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fsinon-4.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-11-09 16:55] #780 closed

[2017-11-09 17:07] glasserc commented on #781
The tests pass on my machine now that #782 has landed and Kinto/kinto#1366 has landed.

[2017-11-09 17:07] #781 closed

[2017-11-09 19:00] glasserc commented on #779
The test failure looks like Kinto/kinto#1366. Going to close optimistically..

[2017-11-09 19:00] #779 closed

[2017-11-20 16:17] atopus opened #783 "Doc broken link : Setup instructions"
From https://kintojs.readthedocs.io/en/latest/tutorial/#tutorial :

"Setup instructions" link (href to "http://kinto.readthedocs.io/en/latest/get-started.html") is dead.

[2017-11-20 16:22] atopus opened #784 "Tutorial : how to serve the demo ?"
From https://kintojs.readthedocs.io/en/latest/tutorial/

How ?

I cloned the repo with the demo - no app.js nor server launching script.

I then tried to attach an express server in order to make it work. Got :

Thanks in advance for any piece of advice.

[2017-11-20 16:55] #783 closed

[2017-11-20 16:56] Natim commented on #784
you right you need to use `npm run demo`

[2017-11-20 22:53] glasserc commented on #784
Hi, the `regeneratorRuntime` issue might be related to Kinto/kinto-http.js#260, which just got released in kinto-http v4.4.1. Could you npm install that and try again?

[2017-11-21 13:22] atopus commented on #784
Ok. Everything is resolved by running `npm run demo`.

Thanks !

[2017-11-21 13:23] #784 closed

[2017-12-05 08:33] greenkeeper[bot] opened #786 "An in-range update of prettier is breaking the build 🚨"
## Version **1.9.0** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fprettier-1.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-12-05 16:43] glasserc commented on #786
Fixed by #787.

[2017-12-05 16:43] #786 closed

[2017-12-06 15:13] Natim opened #788 "If you make a change in a record while it is syncing you will endup in a conflict unsolvable state"

[2017-12-13 20:20] leplatrem commented on #788
Related #34

[2018-01-09 01:18] greenkeeper[bot] opened #791 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **8.2.1** of [babel-eslint](https://github.com/babel/babel-eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fbabel-eslint-8.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>
  <tr>
    <th align=le

[2018-01-10 19:01] glasserc commented on #791
This appears to have been a travis hiccup. Restarting the build fixed it. Closing.

[2018-01-10 19:01] #791 closed

[2018-01-12 05:02] nirabhratapaswi commented on #556
I am new to opensource and I would like to try out this issue, if you are not working @glasserc can I start with it @leplatrem ?

[2018-01-12 09:22] leplatrem commented on #556
@nirabhratapaswi welcome!

I guess we can consider this issue available for you (no news since last July)

First, before changing any line of code, you need to get a local environment working (ie. be able to run the automatic test suite successfully) Please follow these instructions: http://kintojs.readthedocs.io/en/latest/contributing/
If something does not work, seems unclear or outdated, please

[2018-01-12 20:12] nirabhratapaswi commented on #556
Thankyou, I was trying to run the test (npm test) but it seemed to fail for various reasons. Even after correcting a few, I am stuck in this fail, can you help?

1) Integration tests
       Deprecated protocol version
         Soft EOL
           should warn when the server sends a deprecation Alert header:
     Error: HTTP 410 Gone: Service deprecated (The service you are trying to connect no lon

[2018-01-13 07:14] nirabhratapaswi commented on #556
Apart from the above (npm test command), the other npm tests passed, so I went ahead and got an idea of the functioning of the library. To be sure, in src/collection.js, under export default class Collection, there are methods for delete(), deleteAny(), clear(), and a deleteAll() needs to be implemented which will delete a collection locally and on the remote simultaneously! Is something like this

[2018-01-13 14:45] nirabhratapaswi commented on #556
@leplatrem ??

[2018-01-13 17:14] nirabhratapaswi commented on #609
@adngdb
I am new to opensource, and was trying out another issue with Kento.js earlier, so I skimmed through the project. Can you specify the file regarding this issue, as I did not find the read/write flag anywhere. Also I would like to work on this if its okay.

[2018-01-15 08:46] Natim commented on #556
@nirabhratapaswi Don't except answers from us during the week-end.

I guess the first thing to do is to write a test that verifies that as soon as we call deleteAll all local records are marked as deleted so that they will be effectively removed during the next sync call.

[2018-01-15 10:18] leplatrem commented on #609
@adngdb you're right, only the `data` part of the records is stored locally. I don't think it should very complicated to store the permissions too (in another table for example), especially if you just dump the server values during sync (and offer no bidirectionnal sync feature).

It is not immediate to implement though because of two annoying «details».

First — @n1k0 and @almet would call it the

[2018-01-16 15:59] glasserc commented on #556
The integration tests failing is a bit strange. What kinto are you running, how did you install it, and is there any other Kinto running on your computer at the same time?

[2018-01-16 17:06] sachinshahredmane commented on #560
Linking issue from DefinitelyTyped in case there is any movement on that end.  DefinitelyTyped/DefinitelyTyped#11660

[2018-02-04 23:15] cfguimaraes commented on #560
I really would like to use this, unfortunately, the code on this repo seems to not work properly on Ionic projects.
There is a project called dts-gen, this makes a start point for JS code to Typings, even with that webpack couldn't resolve some dependency.
When I simply put the JS file for kinto.js on `index.html` the app crash with the message
`t[v].resolve is not a function`
I think that the pro

[2018-02-07 10:48] greenkeeper[bot] opened #795 "An in-range update of kinto-http is breaking the build 🚨"
## Version **4.5.0** of [kinto-http](https://github.com/Kinto/kinto-http.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fkinto-http-4.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      kinto-http
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-02-07 15:57] glasserc commented on #795
4.5.0 was published wrong. This is just a one-off bad version. Going to close this.

[2018-02-07 15:57] #795 closed

[2018-02-16 17:46] #747 closed

[2018-03-07 08:53] #556 closed

[2018-03-07 08:56] leplatrem commented on #591
This was fixed:
https://searchfox.org/mozilla-central/rev/efce4ceddfbe5fe4e2d74f1aed93894bada9b273/services/common/kinto-offline-client.js

[2018-03-07 08:56] #591 closed

[2018-03-07 08:57] leplatrem commented on #609
See #67

[2018-03-07 09:31] leplatrem commented on #16
That's it! It landed!

Firefox 60 supports promises within IndexedDB transactions \o/

There is a lot of things that could be simplified, quite a huge amount of work.

[2018-03-07 10:29] michielbdejong commented on #16
Wow! :)

[2018-03-08 15:10] #355 closed

[2018-03-08 20:40] glasserc opened #802 "Expose last_modifieds in the "server was flushed" exception"
Bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=1416255 could be made a bit easier if we expose the last_modified we had, as well as the last_modified the server had, when we raise the "server was flushed" exception.

[2018-03-20 15:37] #731 closed

[2018-03-21 15:19] greenkeeper[bot] opened #804 "An in-range update of sinon is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.4.7** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Kinto/kinto.js/compare/greenkeeper%2Fsinon-4.4.7">Build failing 🚨</a>
    <

[2018-03-21 17:35] glasserc commented on #804
Weird travis hiccup where it couldn't find 4.4.7 somehow. Rebuild succeeded. Closing.

[2018-03-21 17:35] #804 closed

[2018-03-31 20:08] lexcorp16 commented on #802
Hi @glasserc I would like to take a look at this. This is my first attempt to contribute to open source and I would be glad if you could point me in the right directions. Thanks

[2018-04-02 15:04] glasserc commented on #802
Hi @lexcorp16, thanks for your interest! kinto.js implements an algorithm to "sync" data to and from the server. It works by tracking what has changed on the client and sending that, and asking what has changed on the server and receiving that. The main entry point is the `sync()` method in collection.js (https://github.com/Kinto/kinto.js/blob/76246b3c9abfc6fb668d747c4ca2755767cbaa85/src/collectio

[2018-04-13 14:52] leplatrem opened #806 "Performance issue in SyncResultObject"
https://bugzilla.mozilla.org/show_bug.cgi?id=1453961

[code]

Introduced in https://github.com/Kinto/kinto.js/pull/553/files#diff-d2dbe7779d59d4dd594e92248caba0a5

[2018-04-18 16:45] #806 closed

[2018-04-18 18:53] glasserc commented on #738
I don't think this article is relevant to our use case. We don't use a lot of JavaScript libraries from the npm ecosystem, and we aren't building an add-on. We have a pretty decent setup with browserify and I don't see any advantage to webpack itself. Closing

[2018-04-18 18:53] #738 closed

[2018-04-23 02:38] neuroleptic commented on #802
Hey @lexcorp16, are you still working on this? If not, I can work on it.

[2018-04-23 06:36] lexcorp16 commented on #802
Hey @neuroleptic, please go ahead. Have been unavailable for quite some time now.

[2018-05-03 15:29] leplatrem opened #816 "Support sub-object filtering when listing records"
[code]

:)

[2018-05-03 15:30] leplatrem opened #817 "Rewrite documentation examples to async / await"
We have stuff like:

[code]

...it would be easier to just have:

[code]

[2018-05-07 03:44] alexisllamas commented on #817
Hi @leplatrem, is fine if I work in this?

[2018-05-07 09:41] leplatrem commented on #817
Yes of course!

[2018-05-24 05:59] greenkeeper[bot] opened #818 "An in-range update of sinon is breaking the build 🚨"
## Version **5.0.9** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fsinon-5.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>sinon</code>
    </td>
  </tr>
  <

[2018-05-26 18:48] zakaluka commented on #560
Hi All, I have created a hand-written definition based on Kinto.js 11.1.2.  The plan is to eventually upload these to DefinitelyTyped.  However, before I do that, I would like to ask for some help.

The specific URL for the repository is https://github.com/zakaluka/DefinitelyTyped/tree/master/types/kinto/ .

- [ ] Please take a look and let me know if I am completely off-base here.  I've tried to

[2018-05-27 18:54] greenkeeper[bot] opened #819 "An in-range update of prettier is breaking the build 🚨"
## Version **1.13.0** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fprettier-1.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>prettier</code>
    </

[2018-05-28 13:26] leplatrem commented on #560
@zakaluka awesome!

Unfortunately, I am unable to review this, I'm completely alien to typescript...

@freefony @cfguimaraes @jkndrkn would you still be interested in looking at this?

If there's anything to be changed in kinto.js itself, I'd glad to help :)

[2018-05-28 13:40] cfguimaraes commented on #560
Of course, I see a fun job for my free time :)
I'm a fan of this project, haven't used it yet in production.
I like emergents technologies, this moves us forward.

On weekend I'll make some tests, and, improves if possible, and as ever, made my reports.

[2018-05-28 15:30] leplatrem opened #820 "Store every collections in one indexeddb"
Currently it looks like it creates a DB per bucket/collection (+optional prefix)

We should be able to have:

- one database per prefix
- one timestamp table (bid/cid, timestamp)
- one records table (bid/cid, rid, data)
- one status table (remote, bid/cid/rid, status) for #637

Later
- one collection table (bid, cid, data) for #666

[2018-05-29 17:42] glasserc commented on #819
Running the tests manually with 1.13.0 and 1.13.2 on my machine produces no errors. Travis builds seem to have failed due to a random npm thing. Rerunning the builds caused them to pass. Closing.

[2018-05-29 17:42] #819 closed

[2018-05-29 20:20] zakaluka commented on #560
If anyone wants collaborator privileges into the other repository, just let me know.  I'm eager to receive any help I can get.

[2018-06-24 02:36] Speculative commented on #560
@zakaluka taking a look at this while I try to write a sample app in Kinto + Typescript

I'm editing them as I go -- the most major thing so far is required vs. optional parameters.

As I understand it, DefinitelyTyped tests are not run, merely compiled. The "test pass" is whether or not the test can be compiled. As such, they're supposed to cover all of the use cases (type-wise) of the various cl

[2018-06-24 02:46] zakaluka commented on #560
@Speculative Would greatly appreciate any feedback and changes that you may have.

As for the testing, based on your statement, I'll wait to write anything until the basics of the `.d.ts` file are solid.

[2018-06-28 14:33] leplatrem opened #824 "Synchronization fails with custom record ids"
Why do we have this?

https://github.com/Kinto/kinto.js/blob/150b4d708931c84a8bda491c5af25243a90df762/src/collection.js#L118-L120

We shouldn't.

[2018-07-05 17:13] greenkeeper[bot] opened #825 "An in-range update of babel-loader is breaking the build 🚨"
## Version **7.1.5** of **babel-loader** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fbabel-loader-7.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/babel/babel-loade

[2018-07-11 08:43] #824 closed

[2018-07-24 15:31] glasserc commented on #825
Seems like another npm intermittency thing..

[2018-07-24 15:31] #825 closed

[2018-07-29 05:42] sanchitbansal10 commented on #817
@leplatrem  whats the status..Is this issue open to work on

[2018-08-08 18:48] greenkeeper[bot] opened #830 "An in-range update of prettier is breaking the build 🚨"
## Version **1.14.1** of **prettier** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fprettier-1.14.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/prettier/prettier>prett

[2018-08-13 17:36] sachinshahredmane commented on #560
@Speculative I know it's been a while, but do you have any changes or feedback on the specification itself?  If you have an updated copy, I would love to put that into the repository and submit it to DefinitelyTyped.

[2018-08-13 17:37] zakaluka commented on #560
@Speculative I know it's been a while, but do you have any changes or feedback on the specification itself? If you have an updated copy, I would love to put that into the repository and submit it to DefinitelyTyped.

[2018-08-14 15:51] leplatrem opened #832 "Checkout idb library"
Some of our IndexedDB code could be replace by https://github.com/jakearchibald/idb

[2018-08-14 16:10] leplatrem opened #833 "Filters in list are ignored when a filter value is a list"
See https://github.com/Kinto/kinto.js/pull/831#discussion_r209975078

[2018-08-15 09:12] #820 closed

[2018-08-15 09:27] leplatrem commented on #526
Apparently this has changed in the meantime, and can be done outside kinto.js using the Storage API [0]

[code]

I propose to close this. Please reopen if I'm wrong!

[0] https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria#Different_types_of_data_storage

[2018-08-15 09:27] #526 closed

[2018-08-15 14:11] #830 closed

[2018-08-16 10:32] leplatrem commented on #557
@glasserc what do you think of this?

[2018-08-16 15:06] peterbe opened #838 "Migration warning message"
See
https://github.com/Kinto/kinto.js/blob/001ebcc7884c7d93fe53f1e5b68aeacf09d168aa/src/adapters/IDB.js#L590

It has an extra `"` and I think we should call it "IndexedDB" and not "IDB".

[2018-08-20 15:15] glasserc commented on #557
My actual use case in https://github.com/Kinto/kinto.js/issues/443 was simply to not throw an exception. Looking at the uses in the Firefox chrome.storage.sync implementation, it looks like we don't really care if deleted records are returned by `getAny` (in one case, we filter them out, and in another, we don't check for deleted records). I think I like this change for consistency.

[2018-08-24 13:35] #838 closed

[2018-08-24 13:39] peterbe opened #841 "Post-migration error about getLastModified()"
Error:
[code]
<img width="1567" alt="screen shot 2018-08-24 at 9 36 35 am" src="https://user-images.githubusercontent.com/26739/44587527-35cc4780-a781-11e8-8760-e76bc5a5e357.png">

This code is using `"kinto": "12.0.0",` and I use:
[code]

There is only 1 database now:
<img width="1567" alt="screen shot 2018-08-24 at 9 37 45 am" src="https://user-images.githubusercontent.com/26739/44587581-63b18c0

[2018-08-24 13:41] peterbe commented on #841
What's curious is also that I saw this error 2 days ago but didn't feel like digging into it but today I decided to go back and check it out.

So I started my dev server (create-react-app and kinto server) and started a new browser window. Then the error didn't happen! No error. Just 1 `KintoDB`. But the error appeared as soon as I refreshed the page and every other refresh after.

[2018-09-13 13:30] leplatrem commented on #841
My theory: the IDB database existence detection is flawed.

- `sync()` -> `pullChanges()` -> `getLastModified()` -> `open()` -> `migrationRequired()`
- `migrationRequired` says that `default/todo` exists, and start to open it to read its content.
- but it doesn't, so the error says the database does not exist.

[2018-09-17 10:59] leplatrem commented on #841
This PR fixed the problem: https://github.com/Kinto/kinto.js/pull/846

I could reproduce with the following steps:

[code]
Create some records.
[code]
Issue is reproduced.

[code]
Issue is fixed.

[2018-09-18 16:44] peterbe opened #849 "Adding Kinto to create-react-app breaks yarn build"
Steps to reproduce:

[code]
Then edit `src/App.js` to something like this:
[code]
(not sure if this is necessary because I don't know if CRA's treeshaking would remove the dependency when building)

[code]

[2018-09-18 16:47] peterbe commented on #849
By the way, this works but is not a solution:

[code]

[2018-09-18 16:50] peterbe commented on #849
Actually, this works too:
[code]

So the regression is in [12.0.0...12.0.1](https://github.com/Kinto/kinto.js/compare/v12.0.0...v12.0.1).

[2018-09-18 16:58] peterbe commented on #849
I don't really know what I'm looking for but the diff between the `node_modules/kinto/lib` is very different:

[code]

I.e. in kinto 12.0.1 there are these for additional files:
[code]

[2018-09-18 17:16] peterbe commented on #849
More of a solution is to run [`npm add @babel/runtime`](https://github.com/jquense/yup/issues/216#issuecomment-389789014) which resolves it for me. Now I can build my create-react-app again.

[2018-09-18 17:19] peterbe commented on #849
At this point I don't know if the resolution is to make a loud "BREAKING CHANGES" warning in the changelog or if there's something we need to do within this repo to avoid this.

[2018-09-18 18:35] glasserc commented on #849
Yeah, like I said in our standup this morning, this is probably my fault because I'm the one who updated babel to the new version, and 12.0.1 is the first version that includes those changes. It wasn't really clear to me (both with the old `babel-runtime` or with the new one) which packages were meant to be included in the kinto.js library and which were meant to be included by dependent projects.

[2018-09-18 19:05] peterbe commented on #849
Oh that old issue. I would dare to have opinions if it wasn't for the fact that **so much has changed** with babel in recent months.

Also, there are two separate discussions going on. Whether the kinto.min.js shipped to unkpg should have all the polyfills baked in or whether users are expected to polyfill that themselves.

Then, there's the whole ES5 vs ES6 discussion. If you treeshake or webpack

[2018-09-19 15:14] glasserc commented on #849
Per discussion on IRC, we believe that our approach is indeed the correct one and that this is fixed now.

[2018-09-19 15:14] #849 closed

[2018-09-27 17:31] greenkeeper[bot] opened #853 "An in-range update of babel-eslint is breaking the build 🚨"
## The devDependency [babel-eslint](https://github.com/babel/babel-eslint) was updated from `10.0.0` to `10.0.1`.

🚨 [View failing branch](https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fbabel-eslint-10.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-eslint is a devDependency of this proj

[2018-09-27 18:15] greenkeeper[bot] opened #854 "An in-range update of babel-loader is breaking the build 🚨"
## The devDependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.2` to `8.0.3`.

🚨 [View failing branch](https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fbabel-loader-8.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a devDependency of this project

[2018-09-28 21:05] greenkeeper[bot] opened #855 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.0` to `7.1.1`.
- The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.0` to `7.1.1`.
- The `dependency` [@babel/plugin-transform-async-to-generator](https://www.npmjs.com/package/@babel/plugin-transfor

[2018-10-02 19:38] glasserc commented on #855
Babel 7.1.1 was a misrelease, but the tests probably failed because of the change to use accounts instead of basicauth on master.

The builds currently pass on master so I'm going to close this.

[2018-10-02 19:38] #855 closed

[2018-10-02 19:41] glasserc commented on #854
This is another accounts-became-the-default build failure and it went away since then.

[2018-10-02 19:41] #854 closed

[2018-10-02 19:45] glasserc commented on #853
This is another accounts-instead-of-basicauth build failure. Master passes since I merged #856. Closing.

[2018-10-02 19:45] #853 closed

[2018-10-08 13:21] leplatrem opened #859 "Additional querystring parameters in .sync()"
In the context of Firefox Remote Settings, we run Kinto behind a CDN and we would like to do cache busting via querystring parameters.

For example, we would like to be able to do:

[code]

And this should pull changes from `/v1/buckets/bid/collections/cid/records?_expected=${timestamp}"`

[2018-10-09 10:01] #859 closed

[2018-10-11 16:54] peterbe commented on #841
Can we close this now?

[2018-10-11 17:08] greenkeeper[bot] opened #861 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.1` to `7.1.2`.
- The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.1` to `7.1.2`.
- The `dependency` [@babel/plugin-transform-async-to-generator](https://www.npmjs.com/package/@babel/plugin-transfor

[2018-10-15 16:41] glasserc commented on #861
It seems like Babel 7.1.3 is broken on Node 6. Closing..

[2018-10-15 16:41] #861 closed

[2018-10-16 14:32] leplatrem opened #862 "Use IDB getAll() when no filter is set"
Instead of using cursors..
https://developer.mozilla.org/en-US/docs/Web/API/IDBObjectStore/getAll

[2018-10-16 14:35] leplatrem opened #863 "Add `count` option to list() operation"
If `count` is > 0 then we can stop iterating on the store once we've found `count` results.

This would optimize use cases with huge collections when only a limited number of records is expected to be found

[2018-10-17 15:29] #862 closed

[2018-10-18 07:15] leplatrem opened #867 "IDB: use a multiEntry index and 'structured' keys"
As suggested by Andrew in https://bugzilla.mozilla.org/show_bug.cgi?id=1486980#c36

Example pseudocode:
[code]

[2018-10-26 00:55] zakaluka commented on #560
Just updated the typings to 12.2.0 (at least, that's what is published on NPM and I used the latest docs to make the update).

[2018-10-26 21:49] leplatrem commented on #560
Thanks for keeping up!

What would you like us to do?

I'm not specifically willing to maintain the types along the lib, but maybe a better coordination may help..

Do you have ideas?

[2018-10-26 23:42] zakaluka commented on #560
Hi, I posted here more as an FYI than anything, since this is where the definition effort started.

My current goal is to write a series of tests that are similar to the tests that you use today. The goal is to determine whether the bindings are functioning as expected.

If everything goes okay, I will be submitting a pull request to DefinitelyTyped. At that point, the only thing to do would be to

[2018-10-30 00:25] glasserc opened #869 "Demo does not work in Microsoft Edge 42.17134.1.0"
Reported by @tiloio originally at https://github.com/Kinto/kinto/issues/1852. On synchronization, we get `list() DataError`, and on adding a task, we get a `DOMException` with message `DataError`.

Because `DataError` does not occur in our codebase, this is probably a quirk of the Edge IndexedDB implementation. [caniuse](https://caniuse.com/#search=indexed) seems to think that Edge supports most o

[2018-10-31 15:27] leplatrem opened #870 "IDB insertions performance"
Iterating on list in order to perform massive IndexedDB insertions is not efficient.

We should chain insertions instead for the browser to schedule the insertions better.

[2018-11-01 11:02] leplatrem commented on #870
For the bulk insert in `Collection.importChanges`, maybe we should iterate in chunks instead. Modifying the storage adapter interface is less obvious. But maybe we could rely on `loadDump()` there too :) I'll investigate

[2018-11-01 11:04] leplatrem opened #872 "Rename loadDump() to importBulk()?"
As @peterbe commented, the wording `loadDump()` is not entirely intuitive. Load let us think it loads into memory or something.

I suggest to we rename the method to `importBulk()` (and add deprecation to the old one)

[2018-11-07 01:45] greenkeeper[bot] opened #874 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.2` to `7.1.5`.
- The `dependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.2` to `7.1.5`.
- The `dependency` [@babel/plugin-transform-async-to-generator](https://www.npmjs.com/package/@babel/plugin-transfor

[2018-11-07 18:36] zakaluka commented on #872
I've put up a first attempt at this change - #875

[2018-11-07 20:59] glasserc commented on #874
This looks like a spurious test failure.. restarting the builds makes them pass.

[2018-11-07 20:59] #874 closed

[2018-11-30 03:41] greenkeeper[bot] opened #879 "An in-range update of prettier is breaking the build 🚨"
## The devDependency [prettier](https://github.com/prettier/prettier) was updated from `1.15.2` to `1.15.3`.

🚨 [View failing branch](https://github.com/Kinto/kinto.js/compare/master...Kinto:greenkeeper%2Fprettier-1.15.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a devDependency of this project. It **mig

[2018-11-30 14:53] glasserc commented on #879
Unrelated to prettier -- this was a Python 3.5 build failure. See #880. Everything should be copacetic now.

[2018-11-30 14:53] #879 closed

[2019-01-14 20:28] rominf opened #882 "Support MongoDB-like queries"
As I understood from reading the documentation, now the query mechanism is very limited.

[2019-01-15 10:05] leplatrem commented on #882
Yes, indeed.

If you have ideas on how to implement a MongoDB-like query API on top of IndexedDB, please share them with us!

I would be interested in guiding you through the code base if needed ;)

[2019-01-15 10:10] Natim commented on #882
Shall we implement a kinto.js backend based on http://leveldb.org/ ?

[2019-01-15 19:00] itaisteinherz commented on #882
@leplatrem @Natim I'm not very familiar with Mongo but this looks interesting: https://github.com/kofrasa/mingo.

[2019-03-25 00:39] AndresMurguido001 commented on #558
If this is still open id like to give it a shot. But a little more info would be helpful. If im understanding this right, there should be an option to get and set keys like a hashtable and just use autoIncrement?

[2019-03-30 18:03] AndresMurguido001 commented on #816
Is this issue still open?

[2019-03-31 14:10] leplatrem commented on #816
Yes!

Thanks for your interest!

[2019-05-03 03:16] cyrilledjdj commented on #817
Duplicate of #858

[2019-05-06 20:06] #666 closed

[2019-06-10 22:47] dstaley opened #987 "Consider moving to Rollup for bundling"
Hello! I've been using [my own fork of Kinto](https://github.com/dstaley/kinto.js) that is built using Rollup with great results. Since both Kinto.js and kinto-http.js are written in ES6, Rollup can be used to build ES6-module based bundles as well.

I'd send a PR containing my Rollup config, but I'm still a bit confused about what is necessary for the Firefox-specific build. Switching to Rollup d

[2019-06-11 18:19] glasserc opened #988 "Imported change should be synced, not updated"
https://github.com/Kinto/kinto.js/blob/344258e4354b206e3b79e13604559488f8bdf952/src/collection.js#L200-L205

I'm pretty sure the comment here is the correct one, not the code.

[2019-06-11 18:22] glasserc commented on #988
Wait, I misread this whole block of code.

[2019-06-11 18:22] #988 closed

[2019-06-11 19:23] glasserc opened #989 "localFields is not present in CollectionTransaction"
https://github.com/Kinto/kinto.js/blob/344258e4354b206e3b79e13604559488f8bdf952/src/collection.js#L1651

I don't think this works correctly. `localFields` never make it to the `CollectionTransaction`.

It doesn't seem to me that this should have ever worked, but I know we're using it at Mozilla for the `security-state/intermediates` collection, so I'm not sure what's going on.

[2019-06-12 13:31] cmgonzales commented on #817
is this issue close?

[2019-06-12 13:51] glasserc commented on #989
See also https://bugzilla.mozilla.org/show_bug.cgi?id=1558709.

[2019-06-12 14:00] #989 closed

[2019-06-12 15:21] glasserc commented on #817
No, there are still lots of places in the documentation which remain to be rewritten to `async`/`await`.

[2019-06-12 23:58] cmgonzales commented on #817
@glasserc i’m would like to try to work on these if it’s ok

[2019-06-13 17:11] leplatrem opened #993 "Add a «pull only» policy"
Goals:
- collections that are not supposed to be modified locally
- optimize sync process

[2019-06-24 21:14] dstaley opened #999 "RFC: Migrate to TypeScript"
# Summary
[summary]: #summary

Migrate [kinto.js](https://github.com/Kinto/kinto.js) and [kinto-http.js](https://github.com/Kinto/kinto-http.js) to TypeScript, replacing browserify with either [Webpack](https://webpack.js.org/) or [Rollup](https://rollupjs.org/guide/en/). Publish three versions of each library: an ES-module version written in a recent Ecmascript version, a CommonJS version written

[2019-06-24 21:14] dstaley commented on #987
Closing in favor of #999

[2019-06-24 21:14] #987 closed

[2019-06-25 15:47] leplatrem commented on #999
Hi Dylan,

Thank you for this thorough analysis! We don't really have the bandwidth to carry out the transformation ourselves, but we would not object to PRs that did. We are enthusiastic about typed languages, but we haven't yet tried TypeScript. We acknowledge the risk of increasing the barrier to contribution for JavaScript developers, but we think it's a worthwhile tradeoff.

The requirements

[2019-06-25 19:38] dstaley commented on #999
Definitely agree! We can technically leave the entire testing infrastructure alone and just change the main import from `src/index.js` to `dist/es/index.js` and it should just work. However, this would require building before each test, which isn't really ideal. I'll explore various solutions, but in the end it should be just as easy to run the tests.

I'll make sure that we have sourcemaps for al

[2019-07-03 07:59] leplatrem commented on #993
Fixed by https://github.com/Kinto/kinto.js/pull/997

[2019-07-03 07:59] #993 closed

[2019-08-09 14:37] leplatrem opened #1041 "Do not load kinto-http if not necessary"
Currently we load kinto-http.js very early, even if no network activity is required.

Some refactoring would be required to have the `api` as a lazy loaded instead of a member initialized in constructor...

See https://bugzilla.mozilla.org/show_bug.cgi?id=1572737

[2019-08-14 00:12] asutherland opened #1043 "IDB.js library code doesn't handle transaction abort events"
Similar to how IndexedDB.jsm in the firefox tree needed to be updated to properly translate "abort" events to reject promises in https://bugzilla.mozilla.org/show_bug.cgi?id=1542181 in https://phabricator.services.mozilla.com/D36822, the code around https://github.com/Kinto/kinto.js/blob/add721282c69418e3af1651695efc8d249a55116/src/adapters/IDB.js#L76 needs to handle the abort event.

The general

[2019-08-27 15:23] #1041 closed

[2019-08-28 14:19] #1043 closed

[2019-08-30 03:45] dstaley opened #1755 "JSDoc comments are out-of-date compared to TypeScript types"

[2019-08-31 21:07] dstaley opened #1754 "Rewrite or replace polymorphic functions"
There are a handful of functions that change their return type based on supplied parameters. This requires us to manually cast the function to the expected type, which isn't ideal. We should replace these functions with versions that either only return one type, or with multiple functions that each return only one type.

Polymorphic functions:
1. `KintoClientBase.execute` - Returns `HttpResponse<T

[2019-10-01 17:58] maniac-tech commented on #872
I see that the solution @zakaluka had written has been accepted and merged into master. In that case, @leplatrem can you update the Issue, and close it?

[2019-10-01 19:23] leplatrem commented on #872
Oh yes! thank you for the heads up!

[2019-10-01 19:23] #872 closed

[2019-10-03 12:58] bael-666 commented on #817
Hi, can I also work on this?

[2019-10-03 13:34] leplatrem commented on #817
Yes, of course!

[2019-10-03 13:47] bael-666 commented on #817
Are there any works that need to be done? I'm reviewing the the api.md and it seems already updated.  I will check on it more.

[2019-10-03 13:54] Natim commented on #817
Yes it seems that at least the documentation doesn't contains any `.then` or `.catch`

[2019-10-03 14:09] leplatrem commented on #817
Well the tutorial does https://kintojs.readthedocs.io/en/latest/tutorial/

[2019-10-08 06:19] paullaffitte commented on #817
Hi, I would like to work on it too, could I?

[2019-10-08 10:12] leplatrem commented on #817
Thanks but @Aebrathia did most of it... Are you interested in fixing easy-picks? There are a few in https://github.com/Kinto/kinto-http.js/issues if you want :)

[2019-10-08 10:12] #817 closed

[2019-11-02 22:10] dstaley opened #1753 "Publish documentation on gh-pages branch"

[2019-11-11 22:12] dstaley opened #1752 "Create end-to-end type test"

[2020-01-15 03:35] dstaley opened #1176 "Should we allow non-string IDs?"
Currently, you can create your own ID schema that uses non-string values as IDs (and the tests have cases that do specifically that). However, if you attempt to sync with a Kinto server, your records will be rejected. (However it's possible this is just a bug in Kinto, since it's likely doing a simple comparison between a string and an int.)

Should this library retain the ability to create ID sch

[2020-01-15 10:58] leplatrem commented on #1176
I assume that this comes from #1172, and not from a real use-case.

I don't think we should, especially because we don't want to cast ids to integers when pulling records from the server.

And yes, the tests should be converted to strings :(

[2020-01-15 17:33] dstaley commented on #1176
Sounds good to me!

[2020-01-15 17:33] #1176 closed

[2020-01-15 18:15] slav0nic opened #1751 "Support custom resource API endpoints"
Kinto internally allow register custom colander based Resource, but i don't see any functionality related to this in kinto-http.js

all kinto-http.js API works only with bucket/collections, but what to do with endpoints  like `/mushrooms/` from this [example](https://docs.kinto-storage.org/en/stable/core/quickstart.html#define-resources)?

If this possible, will be fine document it.

[2020-02-28 18:56] dstaley opened #1209 "Research way to use kinto.js without kinto-http.js"
Using `kinto.js` without `kinto-http.js` is a totally viable solution. We should figure out a reasonable way to enable that use case for users that want a smaller bundle and are okay with giving up sync abilities.

I think this can be accomplished if we export KintoBase and the user omits adding a `ApiClass` getter. We could probably also handle this in the library by creating our own class like `

[2020-04-27 16:38] dstaley opened #1750 "Add CI test for package exports"

[2020-04-27 16:39] dstaley opened #1285 "Add CI test for package exports"
Based on the cool idea from https://github.com/then/is-promise/pull/25, I think it'd be a great idea to add a new GitHub workflow check to confirm that our exports are properly importable in various environments.

I think we should probably check:
- Node (both current and supported LTS versions)
- Rollup (to confirm ES modules import correctly)
- Webpack (not totally sold on this one, but I'll thi

[2020-05-08 21:29] dstaley opened #1301 "Make EventEmitter optional"
Just like we did with kinto-http.js, we should make EventEmitter optional, and test that the library works with both EventEmitter and mitt.

[2020-05-09 17:09] dstaley commented on #999
This landed in https://github.com/Kinto/kinto.js/pull/1061 :tada:

[2020-05-09 17:09] #999 closed

[2020-05-09 17:11] dstaley commented on #650
With v13, our bundle size has now dropped to ~15 KB gzipped! :tada:

[2020-05-09 17:11] #650 closed

[2020-05-09 17:31] dstaley commented on #869
This still occurs in Edge 44.18362.449.0. Since this is the most recent version of pre-Chromium Edge, it might be wise to fix it. However it's my understanding that the Chromium version of Edge is going to roll out to Windows 10 users over the next few weeks. I'm going to try and take a stab at figuring out how to get it working, but based on my quick testing it looks like the developer tools in E

[2020-05-09 17:31] dstaley commented on #649
We're no longer using Babel, so I'm going to close this.

[2020-05-09 17:31] #649 closed

[2020-05-09 17:35] dstaley commented on #459
@leplatrem sorry to revive an almost four-year-old conversation, but do you still want to do this? If so, I have some thoughts, but if not please feel free to close this issue :)

[2020-05-11 17:01] leplatrem commented on #459
Yes! Feel free to tackle this!

[2020-05-11 17:12] leplatrem opened #1306 "Remove Gecko build"
This library was used in Gecko (~ Firefox internals). In [one component](https://searchfox.org/mozilla-esr68/source/services/settings/RemoteSettingsClient.jsm), only a very tiny part was used, since we didn't need both-way sync. In [another component](https://searchfox.org/mozilla-esr68/source/toolkit/components/extensions/ExtensionStorageSync.jsm), we used both-way sync, but it is being modernize

[2020-05-13 18:52] dstaley commented on #1306
@leplatrem Thank you so much for all the valuable feedback you've given me over the last few months! It's been an absolute delight to work with you, and I do hope you pop in from time to time to give your thoughts. I will always appreciate them!

I've enjoyed working on the TypeScript transition, and would be happy to take over the primary maintenance and release responsibilities for this library

[2020-05-13 19:08] dstaley commented on #459
`kinto.js` currently does two things:
1. Store, query, and retrieve arbitrary data
1. Sync that data with a remote server

While the first is the core feature of the library, the second is actually completely optional. You can use `kinto.js` without the sync feature, and thus without `kinto-http.js`. With that in mind, I propose that we name the library either `kinto-db` or `kinto-storage`. I'm ki

[2020-05-14 09:10] leplatrem commented on #459
I like `kinto-db`, as well as `kinto-offline` or `kinto-storage` :)

But I'm not sure about `adapter` in package names. This is more like a programming pattern notion than anything else. Suffixing the main name should be enough IMO (eg. `kinto-db-sqlite`, `kinto-storage-websql`, ...)

Good idea! Let's do that!

[2020-05-14 09:13] leplatrem commented on #1306
Thanks Dylan!

Only from `kinto.js` for now.
Kinto will remain the core solution of the Remote Settings component in Firefox, and we'll continue to use kinto-http.js for a while.

[2020-05-14 09:36] leplatrem commented on #1306
Thanks Dylan!

Only from `kinto.js` for now.

Kinto will remain the core solution of the Remote Settings component in Firefox, and we'll continue to use kinto-http.js. We'd like to rewrite some stuff in Rust, but this won't happen before long.

We used to have a whole team working on Kinto at Mozilla. Along the year people left to chase new adventures and I'm now the only one. So, for now, with re

[2020-05-15 16:52] dstaley commented on #1306
👍

Roger that! Once we get the TypeScript version of `kinto.js` published, I might take a look at uplifting the UI to Bootstrap 4, along with some modernization along the way.

It looks like they were added with read-only permissions. Could you update those to admin?

Thank you!

[2020-05-24 21:32] dstaley opened #1329 "Switch from Travis to GitHub Actions"
We've been using GitHub Actions for Windows CI tests for a while now, and it's proven to be a bit more reliable than Travis. Since our checks are integrated with GitHub anyway, it's probably for the best that we switch away from Travis.

As an intermediate step, we could replicate the Travis build in a workflow. Once we're confident that works, we can then remove and disable Travis builds.

[2020-05-24 21:46] #1306 closed

[2020-05-24 22:17] dstaley opened #1332 "Investigate intermittent test failure"
I've only seen this once, but it might be a good idea to investigate.

[code]

[2020-05-24 22:45] #1301 closed

[2020-06-17 19:42] guanxun14 opened #1352 "How do I use 13.0 in the browser?"
Hi, I'm just setting up a new project and wanted to use Kinto for it.

However, including version 13.0.0 of kinto.min.js directly in the browser via a script tag returns a referenceError global not defined error. I suppose this is because this recently-released [version](https://github.com/Kinto/kinto.js/releases) was re-written in TypeScript, since 12.7 is working fine.

Looking up the [history](

[2020-06-18 02:42] dstaley commented on #1352
Thank you for reporting this! It looks like the issue is actually due to our usage of `rollup-plugin-node-builtins`, which I'm actually planning on removing in v14.

In the meantime, I believe if you put `window.global = {};` somewhere before where you load in the script that should get things working. I'll try and get v14 out tomorrow!

[2020-06-18 07:06] guanxun14 commented on #1352
That does fix it, thanks for the quick response! Looking forward to v14 :)

[2020-06-18 18:04] dstaley commented on #1352
[v14](https://github.com/Kinto/kinto.js/releases/tag/v14.0.0) is live on npm!

[2020-06-18 18:04] #1352 closed

[2020-07-02 10:04] slav0nic opened #1749 "Progress for attachments uploading"
Will be nice have some basic functionality for get file uploading progress
Usually it implemented via `XMLHttpRequest` progress event, but kinto based on `fetch()` that still doesn't have this functionality.
so, will be nice have progress event in `client.events`

[2020-07-06 00:14] dstaley opened #1363 "Export important types from `index.ts`"
In order to neatly import Kinto types, they need to be exported from `index.ts`.

- `Collection`
- `Conflict`

[2020-09-26 11:56] aqumus commented on #802
Maintainer could we close this issue if the fix for it is merged and working? I was just browsing for OSS open issues for contribution and stumbled upon this one but looks like this is already fixed?

[2020-09-26 11:57] aqumus commented on #558
@glasserc Would be good to close this issue if the merged PR is working as expected

[2020-09-26 13:18] #558 closed

[2020-09-26 13:19] #802 closed

[2020-11-22 22:06] dstaley opened #1748 "Document reasons to have polyfills"

[2020-12-10 00:50] dstaley opened #1747 "Collection.addAttachment should match other methods accepting record"

[2021-02-08 16:24] dstaley opened #1466 "Run browser tests on Linux"
With the successful test of running the Firefox and Chrome tests on Linux in `kinto-http.js`, we should switch over to that here as well since it's more reliable than the Windows version.

[2021-02-12 00:10] #1466 closed

[2021-02-12 00:11] dstaley commented on #1329
This is done! :tada:

[2021-02-12 00:11] #1329 closed

[2021-05-11 18:26] dstaley opened #1501 "Remove `http-server` dependency"

[2021-05-11 18:28] dstaley opened #1746 "Remove `http-server` dependency"

[2021-06-28 08:36] vinidiktov opened #1529 "Suggested data modelling approach"
Hello,

I'm evaluating Kinto for use in a language learning web app.

Users can learn any number of languages, they can create shelves of flashcard lists (card decks), and they can learn the card lists using spaced repetition.

How would I model the data for optimal sync?

If I use one collection (languages) and nest everything under it, would sync be very slow for dozens of shelves containing hun

[2021-07-02 22:03] dstaley commented on #1529
(pinging @leplatrem in case he wants to also share his thoughts)

I think your best bet would be to store shelves, decks, and cards as three separate collections, and use a property on the deck and card records to point to the parent record (that is, decks would have a property pointing to the parent shelf, and cards would have a property pointing to the parent deck). This would mean that when a n

[2021-07-06 14:14] leplatrem commented on #1529
I agree with Dylan suggestions.

If I understood correctly, the data that you sync is readonly and coming from the server. So if the cost of the initial sync is your only issue, you can also ship «dumps» of the server records as JSON, along with the assets of your application, that you load into your local DB without pulling from the network.

With regards to managing links between different colle

[2021-07-08 09:41] vinidiktov commented on #1529
Thanks @dstaley, @leplatrem!

The most realistic scenario for a very active app user (like myself) who is learning multiple languages is to have from 10,000 to 50,000 card records overall.

Would this number of records be OK for initial sync?

Most updates should be fairly small, except for when the user imports cards into a deck from an external source. I want to allow them to import up to 1,000

[2021-10-11 18:51] dstaley opened #1615 "Properly annotate caught errors as `unknown`"
To get us building with TypeScript 4.4, I went ahead and use `any` as the type for our caught errors (since that's the behavior pre-4.4). However, we should probably annotate those as `unknown` instead, and use an `instanceof` check to ensure they're errors before accessing things like `.message`.

[2021-11-24 14:08] matt-boris opened #1640 "Upgrade deps to keep this and kinto-http.js in sync"
As suggested by @dstaley https://github.com/Kinto/kinto-http.js/pull/1183#issuecomment-966614295.

[2021-11-24 15:46] matt-boris opened #1642 "Look into removing the `Upgrade Google Chrome` action"
Similar to https://github.com/Kinto/kinto-http.js/issues/1190. Once https://github.com/Kinto/kinto.js/pull/1641 is merged, we eventually should look into removing the `Upgrade Google Chrome` action.

[2021-11-24 15:55] matt-boris commented on #1642
Basically will be reverting https://github.com/Kinto/kinto.js/pull/1641/commits/50eb52d38a59687a0c3cf0eae813121fc2fb7ce8

[2021-12-02 15:32] #1640 closed

[2021-12-02 15:33] matt-boris commented on #1642
Taken care of in https://github.com/Kinto/kinto.js/pull/1641/commits/1a9ee2f1b9df45dd3d9e9eea85b14f1d540c1bb3.

[2021-12-02 15:33] #1642 closed

[2021-12-15 15:12] leplatrem opened #1745 "Document how to use custom endpoints"

[2022-01-13 10:59] SimonKlausLudwig opened #1677 "Add groups to users automatically via Oauth"
Hey, is it possible to automatically assign the oauth groups to a user ? I dont want to manually assign the same groups which we manage in azure.

Thanks for the great projec.!

[2022-01-18 16:26] leplatrem commented on #1677
This would have to be done on the server side. The code of OpenID authentication is here https://github.com/Kinto/kinto/blob/master/kinto/plugins/openid/__init__.py but I fear that in order to accomplish what you want, you'll have to dig into Pyramid authentication system :grimacing:

[2022-03-10 00:03] dstaley opened #1725 "RFC: Merge `kinto-http` into `kinto`"
# Summary
[summary]: #summary

Merge [kinto-http.js](https://github.com/Kinto/kinto-http.js) into [kinto.js](https://github.com/Kinto/kinto.js) and ship as a single npm package.

# Motivation
[motivation]: #motivation

As time as gone on, it's become an increasing burden to maintain two separate tooling codebases for both `kinto.js` and `kinto-http.js` despite the fact that virtually 95% of the to

[2022-03-11 00:09] leplatrem commented on #1725
Thanks @dstaley for the proposal and the detailed RFC :pray:

It used to be like that :) The [api module was extracted as kinto-client](https://github.com/Kinto/kinto.js/pull/326) and then [renamed to kinto-http](https://github.com/Kinto/kinto-http.js/pull/102).

I'm not too concerned by the Git history. And as long as we can produce an export of the Firefox build that is not bigger, I'm in favor

[2022-04-25 23:22] dstaley commented on #1725
Completed in #1726 :tada:

[2022-04-25 23:22] #1725 closed

[2022-10-02 16:01] uma-uc opened #1885 "is it currently being maintained?"
I don't see any updates. Please confirm if it's being actively worked on and maintained

[2022-10-03 09:12] leplatrem commented on #1885
This library was initialized used and maintained by Mozilla. It's not the case anymore, and for a couple of years now, the library has been maintained by @dstaley

It is not in active development, but like "sustain" mode.

If you are looking into this library to use in a production project, you may have to be ready to dive in the implementation, open pull-requests and refresh some parts. We would